* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #777777;
  width: 700px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 3%;
}
header .auth,
header .reg {
  width: 80px;
  margin: 1%;
  padding: 1% 0;
  text-align: center;
  border-radius: 8px;
  border: 1px solid black;
  background: var(--accent-blue, #699786);
}
header a {
  text-decoration: none;
  color: #000000;
}

.player {
  width: 540px;
  height: 210px;
  margin: auto;
  margin-top: 10%;
  background: #ebe9e1;
  border-radius: 14.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.player .img {
  background-image: url(../img/quasimoto.svg);
  background-repeat: no-repeat;
  width: 169px;
  height: 169px;
  cursor: pointer;
}
.player .wrapper .title-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
}
.player .wrapper .title-flex #title {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.player .wrapper .title-flex .img-spotify {
  background-image: url(../img/spotifyBtn.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
}
.player .wrapper #singer {
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  margin-top: 5px;
  margin-left: 10px;
}
.player .wrapper .line-time {
  margin-top: 20px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.player .wrapper .line-time .line-flex {
  width: 257px;
  height: 3px;
  background: #DADADA;
  margin-top: 5px;
  cursor: pointer;
}
.player .wrapper .line-time .line {
  width: 0;
  height: 3px;
  background: #B45353;
}
.player .wrapper .line-time .time {
  width: 32px;
  font-weight: 400;
  font-size: 12px;
  color: #454545;
  margin-left: 15px;
}
.player .wrapper .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
}
.player .wrapper .panel .repeat-btn {
  background-image: url(../img/repeatBtn.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 5px;
}
.player .wrapper .panel .back {
  background-image: url(../img/back.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 10px;
  margin-top: 12px;
}
.player .wrapper .panel .play-stop {
  background-image: url(../img/playBtn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 40px;
}
.player .wrapper .panel .forward {
  background-image: url(../img/forward.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 10px;
  margin-top: 12px;
}
.player .wrapper .panel .like {
  background-image: url(../img/Icon.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 5px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.b-popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}
.b-popup .b-popup .b-popup-content {
  margin: 40px auto 0px auto;
  width: 400px;
  height: auto;
  padding: 10px;
  background-color: #c5c5c5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
}

.wrapper-playlist {
  width: 700px;
  height: 500px;
  margin: 10% auto 0;
  background: #ebe9e1;
  border-radius: 14.7px;
}
.wrapper-playlist .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper-playlist .head div:not(:last-child) {
  color: #3e6858;
  font: 400 20px "Poppoins";
}
.wrapper-playlist .head div:not(:last-child):hover {
  text-decoration: underline;
}
.wrapper-playlist .head div:last-child {
  width: 150px;
  margin: 1%;
  padding: 1% 0;
  text-align: center;
  border-radius: 8px;
  border: 1px solid black;
  background: var(--accent-blue, #699786);
  font: 400 20px "Poppoins";
}
.wrapper-playlist .head .input-file {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.wrapper-playlist .head .input-file-label {
  font: 400 20px "Poppoins";
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent-blue, #699786);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
}
.wrapper-playlist .head .input-file:focus + .input-file-label {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wrapper-playlist .function {
  margin: 1%;
  width: 350px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper-playlist .function div input {
  margin: 2%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4% 0;
  text-align: center;
  border-radius: 8px;
  border: 1px solid black;
  background: var(--accent-blue, #a3d1c0);
}
.wrapper-playlist input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.wrapper-playlist .cover {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}